<!--index.html-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../../../dist/style.css" type="text/css">
    <link rel="stylesheet" href="../../../dist/font.css" type="text/css">
    <link rel="stylesheet" href="../../../dist/OTF/OTFlol.css" type="text/css">
    <title>Poste Valorant</title>
</head>

<body>
    <div class="grid grid-cols-[4fr_6fr] ml-5">
        <div class="grid grid-cols-1">
            <div class="my-2">
                <a href="../../../index.html">Accueil</a> / <a href="../../SelectionOTF.html">Selection OTF</a>
            </div>
            <div class="grid justify-items-center items-center mt-2">
                <div id="wah"
                    class="background w-[720px] h-[900px] relative fond outline outline-black outline-[0.5px] overflow-hidden">

                    <div class="Pseudos grid grid-cols-5 justify-items-center">
                        <spam id="joueur1" class="pseudo1 text-center">Joueur 1</spam>
                        <spam id="joueur2" class="pseudo2 text-center">Joueur 2</spam>
                        <spam id="joueur3" class="pseudo3 text-center">Joueur 3</spam>
                        <spam id="joueur4" class="pseudo4 text-center">Joueur 4</spam>
                        <spam id="joueur5" class="pseudo5 text-center">Joueur 5</spam>
                    </div>


                    <img src="../../../assets/OTF/Lol/Autres/Formes.png">

                    <div id="victoire">
                        <img id="v_ascent" class="absolute top-[64px] w-[677.6666666667px] left-[26px]"
                            src="../../../assets/OTF/Lol/Autres/VICTORY.png">
                    </div>

                    <div id="defaite">
                        <img id="v_ascent" class="absolute top-[64px] w-[677.6666666667px] left-[26px]"
                            src="../../../assets/OTF/Lol/Autres/DEFEAT.png">
                    </div>

                    <div id="container_illustration" class="image" style="top:250px; left:-25px;">
                        <img id="aatrox" class="absolute" src=" ../../../assets/OTF/Lol/Champions/DEFEAT_AATROX.png">
                        <img id="akali" class="absolute" src=" ../../../assets/OTF/Lol/Champions/DEFEAT_AKALI.png">
                        <img id="diana" class="absolute" src=" ../../../assets/OTF/Lol/Champions/DEFEAT_DIANA.png">
                        <img id="syndra" class="absolute" src=" ../../../assets/OTF/Lol/Champions/DEFEAT_SYNDRA.png">
                        <img id="warwick" class="absolute" src=" ../../../assets/OTF/Lol/Champions/DEFEAT_WARWICK.png">
                        <img id="xayah" class="absolute" src=" ../../../assets/OTF/Lol/Champions/DEFEAT_XAYAH.png">
                        <img id="arhi" class="absolute" src=" ../../../assets/OTF/Lol/Champions/VICTORY_ARHI.png">
                        <img id="cait" class="absolute" src=" ../../../assets/OTF/Lol/Champions/VICTORY_CAIT.png">
                        <img id="kaisa" class="absolute" src=" ../../../assets/OTF/Lol/Champions/VICTORY_KAISA.png">
                        <img id="lux" class="absolute" src=" ../../../assets/OTF/Lol/Champions/VICTORY_LUX.png">
                        <img id="senna" class="absolute" src=" ../../../assets/OTF/Lol/Champions/VICTORY_SENNA  .png">
                    </div>

                    <div
                        class="bg-[#f3f5f8] border border-[#f3f5f8] w-[720px] h-[104.6666666667px] absolute bottom-0 outline outline-[#f3f5f8]">

                        <img id="logo_red" class="logo_equipe left-[5px] top-[3.6666666667px]"
                            src="../../../assets/OTF/Valorant/Autres/carreRouge.png">
                        <div
                            class="z-50 w-[95px] h-[95px] grid justify-items-center absolute left-[3px] top-[3.6666666667px]">
                            <img id="red_ldv" class="logo_equipe h-[85px] mt-1"
                                src="../../../assets/OTF/Valorant/Logo/ldv.png">
                            <img id="red_base" class="logo_equipe h-[85px] mt-1"
                                src="../../../assets/OTF/Valorant/Logo/logo_large.png">
                        </div>

                        <img id="logo_black" class="logo_equipe left-[98px] top-[3.6666666667px]"
                            src="../../../assets/OTF/Valorant/Autres/carreNoir.png">
                        <!--<img class="logo_equipe left-[98px] top-[3.6666666667px] z-50"
                            src="../../../assets/OTF/Valorant/Autres/Barre.png">-->
                        <div
                            class="z-50 w-[95px] h-[95px] grid justify-items-center absolute left-[96px] top-[3.6666666667px]">
                            <img id="black_ldv" class="logo_equipe h-[85px] mt-1"
                                src="../../../assets/OTF/Valorant/Logo/ldv.png">
                            <img id="black_base" class="logo_equipe h-[85px] mt-1"
                                src="../../../assets/OTF/Valorant/Logo/logo_large.png">
                        </div>

                        <spam id="score" class="score w-[150px] h-[104px] absolute top-[57px] left-[222px]">13-3</spam>

                        <img class="w-[246.3333333333px] absolute right-[132px] top-[24px]"
                            src="../../../assets/OTF/Valorant/Logo/LogoValoOTF.png">
                        <img class="w-[95.6666667px] absolute right-[11px] bottom-[25px]"
                            src="../../../assets/OTF/Valorant/Logo/logoPoleDeVince.png">

                    </div>
                </div>
            </div>
            <div id="resultat" hidden></div>
        </div>
        <div class=" grid grid-cols-1">
            <div class="grid justify-items-center">
                <spam>GRAN TORINO</spam>
            </div>
            <div class="grid grid-rows-2 justify-items-center ">
                <div class="grid grid-cols-2 items-center">
                    <div>
                        <label class="font-bold">Victoire :</label>
                        <input name="resultat" id="victoire " type="radio" value="true" checked>
                    </div>
                    <div>
                        <label class="font-bold">Défaite :</label>
                        <input name="resultat" id="defaite" value="false" type="radio">
                    </div>
                    <div>
                        <label class="font-bold">Score du match :</label>
                        <input name="score" id="scoreInput" type="text" placeholder="Entrez le score du match">
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-3 items-center">
                    <div class="grid grid-cols-1 justify-items-center">
                        <label class="font-bold">Joueur 1</label>
                        <input name="joueur1" id="joueur1Input" type="text" placeholder="Entrez le nom du joueur">
                    </div>
                    <div class="grid grid-cols-1 justify-items-center">
                        <label class="font-bold">Joueur 2</label>
                        <input name="joueur2" id="joueur2Input" type="text" placeholder="Entrez le nom du joueur">
                    </div>
                    <div class="grid grid-cols-1 justify-items-center">
                        <label class="font-bold">Joueur 3</label>
                        <input name="joueur3" id="joueur3Input" type="text" placeholder="Entrez le nom du joueur">
                    </div>
                    <div class="grid grid-cols-1 justify-items-center">
                        <label class="font-bold">Joueur 4</label>
                        <input name="joueur4" id="joueur4Input" type="text" placeholder="Entrez le nom du joueur">
                    </div>
                    <div class="grid grid-cols-1 justify-items-center">
                        <label class="font-bold">Joueur 5</label>
                        <input name="joueur5" id="joueur5Input" type="text" placeholder="Entrez le nom du joueur">
                    </div>

                </div>

                <div class="grid grid-cols-3 items-center">
                    <div>
                        <label class="font-bold">Taille des pseudos :</label>
                        <input name="joueurFontInput" id="joueurFontInput" type="number"
                            placeholder="Police d'écriture">
                    </div>
                    <div class="grid grid-cols-1 justify-items-center">
                        <label class="font-bold">Logo de l'équipe gauche :</label>
                        <select name="logo1" id="logo_redInput">
                            <option selected value="ldv">LDV</option>
                            <option value="base">Base</option>
                            <option>Aucun</option>
                        </select>
                    </div>
                    <div class="grid grid-cols-1 justify-items-center">
                        <label class="font-bold">Logo de l'équipe droite :</label>
                        <select name="logo2" id="logo_blackInput">
                            <option selected value="ldv">LDV</option>
                            <option value="base">Base</option>
                            <option>Aucun</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="grid grid-cols-2 mt-8">
                <div class="grid grid-cols-1 justify-center">
                    <div class="grid grid-cols-2 justify-items-center items-center">
                        <label class="font-bold">Champions :</label>
                        <select name="illustration" id="illustration">
                            <option selected value="aatrox">Cypher et KillJoy</option>
                            <option value="jettsova">Jett et Sova</option>
                            <option value="akali">Phoenix et Yoru</option>
                            <option value="diana">Astra et Sage</option>
                            <option value="syndra">Brimstone et Raze</option>
                            <option value="warwick">Reynar et Harbor</option>
                            <option value="xayah">Reynar et Harbor</option>
                            <option value="arhi">Reynar et Harbor</option>
                            <option value="cait">Reynar et Harbor</option>
                            <option value="kaisa">Reynar et Harbor</option>
                            <option value="lux">Reynar et Harbor</option>
                            <option value="senna">Reynar et Harbor</option>
                        </select>
                    </div>
                    <div class="grid grid-cols-2 justify-items-center items-center">
                        <label class="font-bold">Taille Longueur :</label>
                        <input name="illustration_width" id="illustration_width" type="number"
                            placeholder="Entrez la longueur de l'image">
                    </div>
                </div>
                <div class="grid grid-cols-1 justify-center">
                    <div class="grid grid-cols-2 justify-items-center items-center">
                        <label class="font-bold">Position X :</label>
                        <input name="illustration_left" id="illustration_left" type="number"
                            placeholder="Entrez la composante X de l'image">
                    </div>
                    <div class="grid grid-cols-2 justify-items-center items-center">
                        <label class="font-bold">Position Y :</label>
                        <input name="illustration_top" id="illustration_top" type="number"
                            placeholder="Entrez la composante Y de l'image">
                    </div>
                </div>
                <div class=" col-span-2 grid justify-items-center">
                    <button class="text-4xl" id="generate">
                        Générer
                    </button>

                    <sript src="../../../scripts/renduValorant.js" type="text/javascript"></sript>
                    <script>

                        const victoire = [
                            "arhi", "cait", "kaisa", "lux", "senna"
                        ];
                        const defaite = [
                            "aatrox", "akali", "diana", "syndra", "warwick", "xayah"
                        ];

                        const logo = [
                            "ldv", "base"
                        ];

                        var $ = require("jquery");

                        function rgb2hex(rgb) {
                            rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
                            return (rgb && rgb.length === 4) ? "#" +
                                ("0" + parseInt(rgb[1], 10).toString(16)).slice(-2) +
                                ("0" + parseInt(rgb[2], 10).toString(16)).slice(-2) +
                                ("0" + parseInt(rgb[3], 10).toString(16)).slice(-2) : '';
                        }

                        // INITIALISATION DE L'INPUT DU SCORE
                        $("#scoreInput").val($("#score").text());

                        // INITIALISATION DES INPUTS DES SCORES
                        $("#joueur1Input").val($("#joueur1").text());
                        $("#joueur2Input").val($("#joueur2").text());
                        $("#joueur3Input").val($("#joueur3").text());
                        $("#joueur4Input").val($("#joueur4").text());
                        $("#joueur5Input").val($("#joueur5").text());
                        $("#joueurFontInput").val($("#joueur1").css("font-size").slice(0, -2));

                        // INITIALISATION DES LOGOS
                        logo.forEach(element => {

                            if (element == $("#logo_redInput").val()) {
                                $("#red_" + element).removeClass("hidden")
                            }
                            else $("#red_" + element).addClass("hidden");
                        });

                        logo.forEach(element => {
                            if (element == $("#logo_blackInput").val()) {
                                $("#black_" + element).removeClass("hidden")
                            }
                            else $("#black_" + element).addClass("hidden");
                        });

                        // INITIALISATION DES ILLUSTRATIONS VICTOIRE / DÉFAITE
                        maps.forEach(element => {
                            if (element == $("#map").val()) {
                                $("#d_" + element).addClass("hidden");
                            }
                            else {
                                $("#d_" + element).addClass("hidden");
                                $("#v_" + element).addClass("hidden");
                            }
                        });

                        // INITIALISATION DES INPUTS DE L'ILLUSTRATION
                        agents.forEach(element => {
                            if (element == $("#illustration").val()) {
                                $("#" + element).removeClass("hidden")
                            }
                            else $("#" + element).addClass("hidden");
                        });

                        $("#illustration_left").val($("#container_illustration").css("left").slice(0, -2));
                        $("#illustration_top").val($("#container_illustration").css("top").slice(0, -2));
                        $("#illustration_width").val("750");
                        $("#container_illustration>img").each(function () {
                            $(this).css("width", $("#illustration_width").val() + "px");
                        })


                        // MODIFICATION VICTOIRE DÉFAITE
                        $("input[type=radio][name=resultat]").change(function () {
                            if ($("input[type=radio][name=resultat]:checked").val() == "true") {
                                maps.forEach(element => {
                                    $("#d_" + element).addClass("hidden");
                                    if (element == $("#map").val()) {
                                        $("#v_" + element).removeClass("hidden");
                                    }
                                    else {
                                        $("#v_" + element).addClass("hidden");
                                    }
                                });
                            }
                            else {
                                maps.forEach(element => {
                                    if (element == $("#map").val()) {
                                        $("#v_" + element).addClass("hidden");
                                        $("#d_" + element).removeClass("hidden");
                                    }
                                    else {
                                        $("#d_" + element).addClass("hidden");
                                    }
                                });
                            }
                        });

                        $("#map").change(function () {
                            if ($("input[type=radio][name=resultat]:checked").val() == "true") {
                                maps.forEach(element => {
                                    $("#d_" + element).addClass("hidden");
                                    if (element == $("#map").val()) {
                                        $("#v_" + element).removeClass("hidden");
                                    }
                                    else {
                                        $("#v_" + element).addClass("hidden");
                                    }
                                });
                            }
                            else {
                                maps.forEach(element => {
                                    if (element == $("#map").val()) {
                                        $("#v_" + element).addClass("hidden");
                                        $("#d_" + element).removeClass("hidden");
                                    }
                                    else {
                                        $("#d_" + element).addClass("hidden");
                                    }
                                });
                            }
                        });

                        $("#logo_redInput").change(function () {
                            logo.forEach(element => {

                                if (element == $("#logo_redInput").val()) {
                                    $("#red_" + element).removeClass("hidden")
                                }
                                else $("#red_" + element).addClass("hidden");
                            });
                        });

                        $("#logo_blackInput").change(function () {
                            logo.forEach(element => {
                                if (element == $("#logo_blackInput").val()) {
                                    $("#black_" + element).removeClass("hidden")
                                }
                                else $("#black_" + element).addClass("hidden");
                            });
                        });


                        // MODIFICATION DES VALEURS DES INPUTS DU NOM DE TOURNOIS
                        $("#scoreInput").on('input', function () {
                            $("#score").text($("#scoreInput").val())
                        });
                        $("#joueur1Input").on('input', function () {
                            $("#joueur1").text($("#joueur1Input").val())
                        });
                        $("#joueur2Input").on('input', function () {
                            $("#joueur2").text($("#joueur2Input").val())
                        });
                        $("#joueur3Input").on('input', function () {
                            $("#joueur3").text($("#joueur3Input").val())
                        });
                        $("#joueur4Input").on('input', function () {
                            $("#joueur4").text($("#joueur4Input").val())
                        });
                        $("#joueur5Input").on('input', function () {
                            $("#joueur5").text($("#joueur5Input").val())
                        });
                        $("#joueurFontInput").on('input', function () {
                            $("#joueur1").css("font-size", ($("#joueurFontInput").val() + "px"))
                            $("#joueur2").css("font-size", ($("#joueurFontInput").val() + "px"))
                            $("#joueur3").css("font-size", ($("#joueurFontInput").val() + "px"))
                            $("#joueur4").css("font-size", ($("#joueurFontInput").val() + "px"))
                            $("#joueur5").css("font-size", ($("#joueurFontInput").val() + "px"))
                        });

                        // MODIFICATION DE L'ILLUSTRATION
                        $("#illustration").on('change', function () {
                            agents.forEach(element => {
                                if (element == $("#illustration").val()) {
                                    $("#" + element).removeClass("hidden")
                                    if (element == "jettsova") {
                                        $("#container_illustration").css("left", "-5px");
                                        $("#illustration_left").val("-5");
                                        $("#container_illustration").css("top", "250px");
                                        $("#illustration_top").val("250");
                                        $("#container_illustration").css("width", "750px");
                                        $("#illustration_width").val("750");
                                    }
                                    else if ((element == "astrasage")) {
                                        $("#container_illustration").css("left", "-25px");
                                        $("#illustration_left").val("-25");
                                        $("#container_illustration").css("top", "85px");
                                        $("#illustration_top").val("85");
                                        $("#container_illustration").css("width", "750px");
                                        $("#illustration_width").val("750");
                                    }
                                    else if ((element == "brimstoneraze")) {
                                        $("#container_illustration").css("left", "-25px");
                                        $("#illustration_left").val("-25");
                                        $("#container_illustration").css("top", "170px");
                                        $("#illustration_top").val("170");
                                        $("#container_illustration").css("width", "750px");
                                        $("#illustration_width").val("750");
                                    }
                                    else if ((element == "cypherkilljoy")) {
                                        $("#container_illustration").css("left", "-25px");
                                        $("#illustration_left").val("-25");
                                        $("#container_illustration").css("top", "250px");
                                        $("#illustration_top").val("250");
                                        $("#container_illustration").css("width", "750px");
                                        $("#illustration_width").val("750");
                                    }
                                    else if ((element == "reynarharbor")) {
                                        $("#container_illustration").css("top", "50px");
                                        $("#illustration_top").val("50");
                                        $("#container_illustration").css("left", "0px");
                                        $("#illustration_left").val("0");
                                        $("#container_illustration").css("width", "800px");
                                        $("#illustration_width").val("800");
                                    }
                                    else if ((element == "phoenixyoru")) {
                                        $("#container_illustration").css("top", "250px");
                                        $("#illustration_top").val("250");
                                        $("#container_illustration").css("left", "-25px");
                                        $("#illustration_left").val("-25");
                                        $("#container_illustration").css("width", "750px");
                                        $("#illustration_width").val("750");
                                    }

                                }
                                else $("#" + element).addClass("hidden");

                            });
                        });

                        $("#illustration_left").on('input', function () {
                            $("#container_illustration").css("left", $("#illustration_left").val() + "px");
                        });

                        $("#illustration_top").on('input', function () {
                            $("#container_illustration").css("top", $("#illustration_top").val() + "px");
                        });

                        $("#illustration_width").on('input', function () {
                            $("#container_illustration>img").each(function () {
                                $(this).css("width", $("#illustration_width").val() + "px");
                            })
                        });

                    </script>

                    <script>
                        var $ = require("jquery");
                        var htmlToImage = require('html-to-image');

                        $("#generate").click(function () {
                            htmlToImage.toPng(document.getElementById('wah'))
                                .then(function (dataUrl) {
                                    var link = document.createElement('a');
                                    link.download = 'rendu.png';
                                    link.href = dataUrl;
                                    link.click();
                                });
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>