<!--index.html-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../dist/style.css" type="text/css">
    <link rel="stylesheet" href="../dist/font.css" type="text/css">
    <script defer src="../scripts/export.js"></script>
    <script defer src="../scripts/Custom/addElement.js"></script>
    <script defer src="../scripts/Custom/canvas.js"></script>
    <script defer src="../scripts/Custom/displayParameters.js"></script>
    <title>Poste personnalisé</title>
</head>

<body>
    <div class="grid grid-cols-[5fr_5fr] ml-5">
        <div class="grid grid-cols-1">
            <div class="my-2">
                <a href="../index.html">Accueil</a>
            </div>
            <div class="grid justify-items-center items-center mt-2 h-[90vh] min-h-[90%]">
                <div id="rendu" class="background relative fond outline outline-black outline-[0.5px] overflow-hidden"
                    style="width:720px;height:900px;">

                </div>
            </div>
            <div id="resultat" hidden></div>
        </div>
        <div class=" grid grid-cols-1 grid-rows-[0.5fr_4.7fr_3.8fr_1fr] mr-2">
            <div class="grid grid-cols-2 justify-items-center items-start">
                <label for="ratio">Ratio de l'image : </label>
                <select name="ratio" id="ratio">
                    <option value="1:1">1:1</option>
                    <option value="4:3">4:3</option>
                    <option value="5:4">5:4</option>
                    <option value="5:2">5:2</option>
                    <option value="16:9">16:9</option>
                    <option value="21:9">21:9</option>
                    <option value="2.39:1">2.39:1</option>
                    <option value="4:5" selected>4:5 (Poster/Instagram)</option>
                    <option value="1.19:1">1.19:1 (Instagram/Twitter)</option>
                </select>
            </div>

            <div id="target" class="overflow-y-scroll max-h-[40vh] border border-1 border-black">

            </div>

            <div id="parameters" class="border border-1 border-black">

            </div>

            <div class="grid grid-cols-2 justify-items-center">
                <button id="new" class="text-4xl self-end">
                    Ajouter un élément
                </button>
                <button id="generate" class="text-4xl self-end">
                    Générer
                </button>
            </div>

        </div>
    </div>
</body>

</html>