<!--twitterSelection.html-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../dist/style.css" type="text/css">
    <title>Faire une affiche pour l'OTF</title>
</head>

<body>
    <div class="grid grid-cols-2 h-screen justify-items-center">
        <a href="" class="bg-lol bg-cover w-full h-full text-center hover:border-8 hover:border-sizzling-red">
            <div>
                <spam class=" text-4xl text-ghost-white">WIP</spam>
            </div>
        </a>
        <a href="" class="bg-lol bg-cover w-full h-full text-center hover:border-8 hover:border-sizzling-red">
            <div>
                <spam class=" text-4xl text-ghost-white">WIP</spam>
            </div>
        </a>
        <a href="./OTF/Valorant/valorantResultatTest.html"
            class="bg-valorant bg-cover w-full h-full text-center hover:border-8 hover:border-sizzling-red">
            <div>
                <spam class="text-4xl text-ghost-white">Test Annonce de résultat Valorant</spam>
            </div>
        </a>
        <a href="./OTF/Valorant/valorantResultat.html"
            class="bg-valorant bg-cover w-full h-full text-center hover:border-8 hover:border-sizzling-red">
            <div>
                <spam class="text-4xl text-ghost-white">Annonce de résultat Valorant</spam>
            </div>
        </a>
    </div>
</body>

</html>