<!--twitterSelection.html-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../dist/style.css" type="text/css">
    <title>Faire une affiche carre</title>
</head>

<body>
    <div class="grid grid-cols-2 h-screen justify-items-center">
        <a href="./Autres/Lol/lolAnnonce.html"
            class="bg-lol bg-cover w-full h-full text-center hover:border-8 hover:border-sizzling-red">
            <div>
                <spam class=" text-4xl text-ghost-white">Annonce d'un match</spam>
            </div>
        </a>
        <a href="./Autres/Lol/lolResultat.html"
            class="bg-lol bg-cover w-full h-full text-center hover:border-8 hover:border-sizzling-red">
            <div>
                <spam class=" text-4xl text-ghost-white">Annonce du résultat</spam>
            </div>
        </a>
        <a href="./Autres/Valorant/valorantAnnonce.html"
            class="bg-valorant bg-cover w-full h-full text-center hover:border-8 hover:border-sizzling-red">
            <div>
                <spam class="text-4xl text-ghost-white">Annonce d'un match </spam>
            </div>
        </a>
        <a href="./Autres/Valorant/valorantResultat.html"
            class="bg-valorant bg-cover w-full h-full text-center hover:border-8 hover:border-sizzling-red">
            <div>
                <spam class="text-4xl text-ghost-white">Annonce du résultat </spam>
            </div>
        </a>
    </div>
</body>

</html>