<!--index.html-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link rel="stylesheet" href="../../dist/style.css" type="text/css">
    <link rel="stylesheet" href="../../dist/font.css" type="text/css">
    <script defer type="module" src="../../scripts/Custom/export.js"></script>
    <script defer type="module" src="../../scripts/Custom/addElement.js"></script>
    <script defer type="module" src="../../scripts/Custom/canvas.js"></script>
    <script defer type="module" src="../../scripts/Custom/displayParameters.js"></script>
    <script defer type="module" src="../../scripts/Event/Event.js"></script>
    <script defer type="module" src="../../scripts/Custom/generate.js"></script>
    <script defer type="module" src="../../scripts/Custom/import.js"></script>
    <title>Poste personnalisé</title>
</head>

<body>
    <div class="grid grid-cols-[5fr_5fr] ml-5">
        <div class="grid grid-cols-1">
            <div class="my-2">
                <a href="../../index.html">Accueil</a>
            </div>
            <div class="grid justify-items-center items-center mt-2 h-[90vh] min-h-[90%]">
                <div id="rendu" class="background relative fond outline outline-black outline-[0.5px] overflow-hidden"
                    style="width:900px;height:360px;">
                    <!-- BACKGROUND-->
                    <img id="fond" class="absolute" src="../../assets/Event/Background/Fond_event.png">

                    <!-- JEU-->
                    <div class="absolute overflow-hidden" style="width:360px; height:360px;">
                        <img id="jeu" class="absolute max-w-none" src="../../assets/Event/Jeux/SSBU.jpg" height="360px">
                    </div>


                    <!-- TEXTES-->
                    <div id="event" class="absolute grid justify-items-center"
                        style="width: 540px; left: 360px; top: 13px">
                        <spam id="eventtext"
                            style="font-family: Drive Corps; font-size: 67.5px; color: rgb(255, 255, 255);">
                            LDV Event
                        </spam>
                    </div>

                    <div id="theme" class="absolute grid justify-items-center"
                        style="width: 540px; left: 360px; top:94px">
                        <spam id="themetext"
                            style="font-family: Glacial Indifference Regular; font-size: 40.5px; color: rgb(255, 96, 96);">
                            Soirée Party
                        </spam>
                    </div>

                    <div id="date" class="absolute grid justify-items-center"
                        style="width: 540px; left: 360px; top:152px">
                        <spam id="datetext"
                            style="font-family: Glacial Indifference Regular; font-size: 40.5px; color: rgb(255, 255, 255);">
                            VENDREDI 31 MARS 21H-??
                        </spam>
                    </div>

                    <div id="game" class="absolute grid justify-items-center"
                        style="width: 540px; left: 360px; top:219px">
                        <spam id="gametext"
                            style="font-family: Glacial Indifference Regular; font-size: 31.5px; color: rgb(255, 255, 255);">
                            KCulture/Gartic/Skrible/CodeName
                        </spam>
                    </div>

                    <div id="host" class="absolute text-center" style="width: 540px; left: 360px; top:274px">
                        <spam id="host1text"
                            style="font-family: Glacial Indifference Regular; font-size: 31.5px; color: rgb(255, 255, 255);">
                            Host par
                        </spam>
                        <spam id="host2text"
                            style="font-family: Glacial Indifference Regular; font-size: 31.5px; color: rgb(255, 96, 96);">
                            Jun
                        </spam>

                    </div>
                </div>
            </div>
            <div id="resultat" hidden></div>
        </div>
        <div class=" grid grid-cols-1 grid-rows-[0.5fr_4.7fr_3.8fr_1fr] mr-2">
            <div class="grid grid-cols-2 justify-items-center items-start">
                <label for="ratio">Ratio de l'image : </label>
                <select name="ratio" id="ratio">
                    <option value="1:1">1:1</option>
                    <option value="4:3">4:3</option>
                    <option value="5:4">5:4</option>
                    <option value="5:2" selected>5:2</option>
                    <option value="16:9">16:9</option>
                    <option value="21:9">21:9</option>
                    <option value="2.39:1">2.39:1</option>
                    <option value="4:5">4:5 (Poster/Instagram)</option>
                    <option value="1.19:1">1.19:1 (Instagram/Twitter)</option>
                </select>
            </div>

            <div id="target" class="overflow-y-scroll max-h-[40vh] border border-1 border-black">
                <!--JEU-->
                <div id="tjeu" class="grid grid-cols-3 justify-items-center">
                    <spam>Image jeux</spam>
                    <div class="grid grid-cols-2 justify-items-center"><label>Z-index (hauteur)</label><input id="zjeu"
                            type="number" placeholder="Entrez la valeur sur axe Z"></div>
                    <input class="justify-self-end mr-2" checked="" id="vjeu" name="visible" type="radio">
                </div>
                <!--TEXTES-->

                <div id="tevent" class="grid grid-cols-3 justify-items-center">
                    <spam>Nom event</spam>
                    <div class="grid grid-cols-2 justify-items-center"><label>Z-index (hauteur)</label><input
                            id="zevent" type="number" placeholder="Entrez la valeur sur axe Z"></div> <input
                        class="justify-self-end mr-2" checked="" id="vevent" name="visible" type="radio">
                </div>
                <div id="ttheme" class="grid grid-cols-3 justify-items-center">
                    <spam>Thème</spam>
                    <div class="grid grid-cols-2 justify-items-center"><label>Z-index (hauteur)</label><input
                            id="ztheme" type="number" placeholder="Entrez la valeur sur axe Z"></div> <input
                        class="justify-self-end mr-2" checked="" id="vtheme" name="visible" type="radio">
                </div>
                <div id="tdate" class="grid grid-cols-3 justify-items-center">
                    <spam>Date</spam>
                    <div class="grid grid-cols-2 justify-items-center"><label>Z-index (hauteur)</label><input id="zdate"
                            type="number" placeholder="Entrez la valeur sur axe Z"></div> <input
                        class="justify-self-end mr-2" checked="" id="vdate" name="visible" type="radio">
                </div>
                <div id="tgame" class="grid grid-cols-3 justify-items-center">
                    <spam>Jeux proposés</spam>
                    <div class="grid grid-cols-2 justify-items-center"><label>Z-index (hauteur)</label><input id="zgame"
                            type="number" placeholder="Entrez la valeur sur axe Z"></div> <input
                        class="justify-self-end mr-2" checked="" id="vgame" name="visible" type="radio">
                </div>
                <div id="thost1" class="grid grid-cols-3 justify-items-center">
                    <spam>Host par</spam>
                    <div class="grid grid-cols-2 justify-items-center"><label>Z-index (hauteur)</label>
                        <input id="zhost1" type="number" placeholder="Entrez la valeur sur axe Z">
                    </div> <input class="justify-self-end mr-2" checked="" id="vhost1" name="visible" type="radio">
                </div>
                <div id="thost2" class="grid grid-cols-3 justify-items-center">
                    <spam>Nom des Hosts</spam>
                    <div class="grid grid-cols-2 justify-items-center"><label>Z-index (hauteur)</label>
                        <input id="zhost2" type="number" placeholder="Entrez la valeur sur axe Z">
                    </div> <input class="justify-self-end mr-2" checked="" id="vhost2" name="visible" type="radio">
                </div>


            </div>

            <div id="parameters" class="border border-1 border-black">
                <div id="pjeu" class="hidden overflow-y-auto grid grid-cols-2 gap-y-2 mx-2 my-1">
                    <label>Src :</label>
                    <input id='jeusrc' type='file' accept='.jpg,.jpeg,.png,.svg,.webp' class='border border-lg'>
                    <label>Height :</label>
                    <input id='jeuh' type='number' class='border border-lg'>
                    <label>Left :</label>
                    <input id='jeul' type='number' class='border border-lg'>
                    <label>Top :</label>
                    <input id='jeut' type='number' class='border border-lg'>
                </div>

                <div id="pevent" class="hidden overflow-y-auto grid grid-cols-2 gap-y-2 mx-2 my-1">
                    <label>Texte:</label>
                    <input type='text' id="eventtextarea" class="border border-lg"></input>
                </div>

                <div id="ptheme" class="hidden overflow-y-auto grid grid-cols-2 gap-y-2 mx-2 my-1">
                    <label>Texte:</label>
                    <input type='text' id="themetextarea" class="border border-lg"></input>
                </div>

                <div id="pdate" class="hidden overflow-y-auto grid grid-cols-2 gap-y-2 mx-2 my-1">
                    <label>Texte:</label>
                    <input type='text' id="datetextarea" class="border border-lg"></input>
                </div>

                <div id="pgame" class="hidden overflow-y-auto grid grid-cols-2 gap-y-2 mx-2 my-1">
                    <label>Texte:</label>
                    <input type='text' id="gametextarea" class="border border-lg"></input>
                </div>

                <div id="phost1" class="hidden overflow-y-auto grid grid-cols-2 gap-y-2 mx-2 my-1">
                    <label>Texte:</label>
                    <input type='text' id="host1textarea" class="border border-lg"></input>
                </div>

                <div id="phost2" class="overflow-y-auto grid grid-cols-2 gap-y-2 mx-2 my-1">
                    <label>Texte:</label>
                    <input type='text' id="host2textarea" class="border border-lg"></input>
                </div>
            </div>

            <div class="grid grid-cols-2 justify-items-center">
                <button id="new" class="text-4xl self-end">
                    Ajouter un élément
                </button>
                <button id="generate" class="text-4xl self-end">
                    Générer
                </button>
            </div>

        </div>
    </div>
</body>

</html>