<!--index.html-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../../dist/style.css" type="text/css">
    <script defer src="../../scripts/jquery-3.6.3.min.js"></script>
    <title>Poste Valorant</title>
</head>

<body>
    <div class="grid grid-cols-[7fr_3fr] ml-5">
        <div class="grid grid-cols-1">
            <div class="my-2">
                <a href="../../index.html">Accueil</a> / <a href="../twitterSelectionCarre.html">Selection Twitter</a>
            </div>
            <div>
                <select name="illustration" id="illustration" class="w-full py-1 bg-red-800">
                    <option value="annonceLol">Annonce Match lol</option>
                    <option value="resultLol">Annonce résultat lol</option>
                    <option value="annonceValo">Annonce Match valo</option>
                    <option value="resultValo">Annonce résultat valo</option>
                </select>
            </div>
            <div class="grid justify-items-center items-center mt-2 bg-blue-600 h-[85vh]">
                <div class="w-[810px] h-[810px] bg-yellow-300">

                </div>
            </div>
        </div>
        <div class="grid grid-cols-1">
            <div class="grid justify-items-center">
                <spam>GRAN TORINO</spam>
            </div>
            <div class="grid grid-rows-3 justify-items-center">
                <div>
                    <label>Nom du tournois :</label>
                    <input name="tournois" id="tournois" type="text" placeholder="Entrez le nom du tournois">
                </div>
                <div>
                    <label>Sous titre :</label>
                    <input name="sous-titre" id="sous-titre" type="text" placeholder="Entrez le sous titre 1">
                </div>
                <div>
                    <label>Sous titre 2 :</label>
                    <input name="sous-sous-titre" id="sous-sous-titre" type="text" placeholder="Entrez le sous titre 2">
                </div>
            </div>
            <div class="grid grid-cols-2 grid-rows-2">
                <div class="grid justify-items-center">
                    <select name="illustration" id="illustration" class="h-1/4">
                        <option value="Jett">Jett</option>
                        <option value="Astra">Astra</option>
                        <option value="Brimstone">Brimstone</option>
                        <option value="Killjoy">Killjoy</option>
                        <option value="Omen">Omen</option>
                        <option value="Cypher">Cypher</option>
                    </select>
                </div>
                <div class="grid justify-items-center">
                    <select multiple name="sponsors" id="sponsors" class="h-1/2">
                        <option>Flink</option>
                        <option>Twitch</option>
                    </select>
                </div>
                <div class=" col-span-2 grid justify-items-center">
                    <button class="text-4xl">
                        Générer
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>